In [182]:
from loader1 import *
from utils import *
from common import *
from experiment2 import *
# from sys import platform

import warnings
warnings.filterwarnings('ignore')

In [177]:
orders = merge_order_df()

../Ride_Data_Cache/merged_orders.msgpack exists

In [175]:
import os
cache_path = os.path.join(CACHE_DIR, f'survival_probability_df.msgpack')

df = pd.read_msgpack(cache_path)

In [178]:
orders[orders.driver_id == '00002724a19c5f6a54ae8d60a378997e']

,order_id,ride_start_timestamp,ride_stop_timestamp,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,ride_duration,driver_id
2327,03014caf7353cb92868d78b143bca071,2016-11-28 00:19:16,2016-11-28 00:54:04,104.072258,30.69557,104.05166,30.50397,34.8,00002724a19c5f6a54ae8d60a378997e

In [183]:
target = get_surv_prob(orders, save_file=False, use_cache=False)

TypeError: get_surv_prob() got an unexpected keyword argument 'save_file'

In [176]:
df.head(2)

,driver_id,ride_duration,survival_active_time,inactive_time
0,0000131d486b69eb77ab6e9e7cca9f4c,75.583333,86.20821,18.84179
1,00002724a19c5f6a54ae8d60a378997e,34.800000,69.60000,-34.80000

In [68]:
val = ['0001860739024029fa3da2cad0ed4de2', '000211a97ba2b768ef941593bf1ae1a5', '0009cc512604d27cc3e819ab6b954fca', '3d5914545a97b002450e7769d7e51df3']

In [69]:
order_filter = orders[orders.driver_id.isin(val)]

In [70]:
order_filter.shape

(39, 9)

In [31]:
pool_rides(order_filter)

In [24]:
cols = ['driver_id', 'ride_start_timestamp', 'ride_stop_timestamp', 'is_pool', 'shifted_driver']
order_filter[cols].sort_values(['driver_id', 'ride_start_timestamp'])

,driver_id,ride_start_timestamp,ride_stop_timestamp,is_pool,shifted_driver
64686,0001860739024029fa3da2cad0ed4de2,2016-11-10 07:12:39,2016-11-10 08:05:58,False,NaN
141,0001860739024029fa3da2cad0ed4de2,2016-11-10 08:52:17,2016-11-10 09:24:23,False,0001860739024029fa3da2cad0ed4de2
140773,0001860739024029fa3da2cad0ed4de2,2016-11-10 14:55:33,2016-11-10 15:26:43,False,0001860739024029fa3da2cad0ed4de2
1608,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:06:44,2016-11-10 18:04:55,False,0001860739024029fa3da2cad0ed4de2
13373,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:12:49,2016-11-10 18:52:51,True,0001860739024029fa3da2cad0ed4de2
33721,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:19:32,2016-11-10 17:33:10,True,0001860739024029fa3da2cad0ed4de2
115042,0001860739024029fa3da2cad0ed4de2,2016-11-10 19:18:55,2016-11-10 19:46:09,False,0001860739024029fa3da2cad0ed4de2
62517,0001860739024029fa3da2cad0ed4de2,2016-11-10 20:53:13,2016-11-10 21:15:23,False,0001860739024029fa3da2cad0ed4de2
85996,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 09:29:41,2016-11-01 09:45:47,False,0001860739024029fa3da2cad0ed4de2
35848,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:06:55,2016-11-01 20:28:25,False,000211a97ba2b768ef941593bf1ae1a5
19718,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:43:34,2016-11-01 21:24:56,False,000211a97ba2b768ef941593bf1ae1a5
8323,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:49:50,2016-11-01 21:10:00,True,000211a97ba2b768ef941593bf1ae1a5
156213,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:53:13,2016-11-01 21:51:06,True,000211a97ba2b768ef941593bf1ae1a5
155890,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:22:46,2016-11-24 18:26:02,False,000211a97ba2b768ef941593bf1ae1a5
82810,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:38:29,2016-11-24 18:11:48,True,0009cc512604d27cc3e819ab6b954fca
155974,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:21:24,2016-11-24 19:54:48,False,0009cc512604d27cc3e819ab6b954fca
153383,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:40:03,2016-11-24 20:12:23,True,0009cc512604d27cc3e819ab6b954fca
159911,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:03:01,2016-11-29 08:41:58,False,0009cc512604d27cc3e819ab6b954fca
193897,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:52:50,2016-11-29 09:16:05,False,3d5914545a97b002450e7769d7e51df3
158634,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:42:21,2016-11-29 09:53:50,False,3d5914545a97b002450e7769d7e51df3
209587,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:59:22,2016-11-29 10:10:14,False,3d5914545a97b002450e7769d7e51df3
167835,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:20:48,2016-11-29 10:31:02,False,3d5914545a97b002450e7769d7e51df3
27078,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:28:33,2016-11-29 10:52:49,True,3d5914545a97b002450e7769d7e51df3
65798,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:36:34,2016-11-29 11:21:04,True,3d5914545a97b002450e7769d7e51df3
189209,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:11:53,2016-11-29 11:39:35,True,3d5914545a97b002450e7769d7e51df3
125577,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:50:01,2016-11-29 12:02:57,False,3d5914545a97b002450e7769d7e51df3
38522,3d5914545a97b002450e7769d7e51df3,2016-11-29 12:33:16,2016-11-29 12:57:13,False,3d5914545a97b002450e7769d7e51df3
28400,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:03:56,2016-11-29 13:38:48,False,3d5914545a97b002450e7769d7e51df3
14687,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:47:45,2016-11-29 14:12:07,False,3d5914545a97b002450e7769d7e51df3
55550,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:15:46,2016-11-29 14:59:44,False,3d5914545a97b002450e7769d7e51df3
99717,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:20:40,2016-11-29 14:45:21,True,3d5914545a97b002450e7769d7e51df3
15397,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:36:58,2016-11-29 15:10:14,True,3d5914545a97b002450e7769d7e51df3
121433,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:25:15,2016-11-29 15:36:00,False,3d5914545a97b002450e7769d7e51df3
59165,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:56:39,2016-11-29 16:27:59,False,3d5914545a97b002450e7769d7e51df3
100662,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:22:52,2016-11-29 19:31:24,False,3d5914545a97b002450e7769d7e51df3
121661,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:44:05,2016-11-29 20:07:46,False,3d5914545a97b002450e7769d7e51df3
88233,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:50:26,2016-11-29 20:08:19,True,3d5914545a97b002450e7769d7e51df3
131154,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:15:53,2016-11-29 20:30:09,False,3d5914545a97b002450e7769d7e51df3
142674,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:46:17,2016-11-29 21:15:34,False,3d5914545a97b002450e7769d7e51df3

In [22]:
# order_filter.sort_values(['driver_id', 'ride_start_timestamp'], inplace = True)
# order_filter['flag'] = order_filter.groupby('driver_id')['is_pool'].apply(lambda x :x.ne(x.shift().bfill())).astype(int)

In [21]:
# cols = ['driver_id', 'ride_start_timestamp', 'ride_stop_timestamp', 'is_pool', 'flag']
# order_filter[cols].sort_values(['driver_id', 'ride_start_timestamp'])

In [25]:
# order_filter['shifted_flag'] = order_filter['is_pool'].shift(-1).fillna(False)
# order_filter['shifted_driver_id'] = order_filter['driver_id'].shift(-1).fillna('')

In [32]:
# order_filter.head(5)

In [37]:
order_filter['is_pool_shifted'] = order_filter.groupby('driver_id')['is_pool'].shift(-1).fillna(False)

In [38]:
cols = ['driver_id', 'ride_start_timestamp', 'ride_stop_timestamp', 'is_pool', 'is_pool_shifted']
order_filter[cols].sort_values(['driver_id', 'ride_start_timestamp'])

,driver_id,ride_start_timestamp,ride_stop_timestamp,is_pool,is_pool_shifted
64686,0001860739024029fa3da2cad0ed4de2,2016-11-10 07:12:39,2016-11-10 08:05:58,False,False
141,0001860739024029fa3da2cad0ed4de2,2016-11-10 08:52:17,2016-11-10 09:24:23,False,False
140773,0001860739024029fa3da2cad0ed4de2,2016-11-10 14:55:33,2016-11-10 15:26:43,False,False
1608,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:06:44,2016-11-10 18:04:55,False,True
13373,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:12:49,2016-11-10 18:52:51,True,True
33721,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:19:32,2016-11-10 17:33:10,True,False
115042,0001860739024029fa3da2cad0ed4de2,2016-11-10 19:18:55,2016-11-10 19:46:09,False,False
62517,0001860739024029fa3da2cad0ed4de2,2016-11-10 20:53:13,2016-11-10 21:15:23,False,False
85996,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 09:29:41,2016-11-01 09:45:47,False,False
35848,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:06:55,2016-11-01 20:28:25,False,False
19718,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:43:34,2016-11-01 21:24:56,False,True
8323,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:49:50,2016-11-01 21:10:00,True,True
156213,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:53:13,2016-11-01 21:51:06,True,False
155890,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:22:46,2016-11-24 18:26:02,False,True
82810,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:38:29,2016-11-24 18:11:48,True,False
155974,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:21:24,2016-11-24 19:54:48,False,True
153383,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:40:03,2016-11-24 20:12:23,True,False
159911,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:03:01,2016-11-29 08:41:58,False,False
193897,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:52:50,2016-11-29 09:16:05,False,False
158634,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:42:21,2016-11-29 09:53:50,False,False
209587,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:59:22,2016-11-29 10:10:14,False,False
167835,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:20:48,2016-11-29 10:31:02,False,True
27078,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:28:33,2016-11-29 10:52:49,True,True
65798,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:36:34,2016-11-29 11:21:04,True,True
189209,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:11:53,2016-11-29 11:39:35,True,False
125577,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:50:01,2016-11-29 12:02:57,False,False
38522,3d5914545a97b002450e7769d7e51df3,2016-11-29 12:33:16,2016-11-29 12:57:13,False,False
28400,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:03:56,2016-11-29 13:38:48,False,False
14687,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:47:45,2016-11-29 14:12:07,False,False
55550,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:15:46,2016-11-29 14:59:44,False,True
99717,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:20:40,2016-11-29 14:45:21,True,True
15397,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:36:58,2016-11-29 15:10:14,True,False
121433,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:25:15,2016-11-29 15:36:00,False,False
59165,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:56:39,2016-11-29 16:27:59,False,False
100662,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:22:52,2016-11-29 19:31:24,False,False
121661,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:44:05,2016-11-29 20:07:46,False,True
88233,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:50:26,2016-11-29 20:08:19,True,False
131154,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:15:53,2016-11-29 20:30:09,False,False
142674,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:46:17,2016-11-29 21:15:34,False,False

In [39]:
order_filter['pool'] =  order_filter['is_pool'] + order_filter['is_pool_shifted']

In [41]:
cols = ['driver_id', 'ride_start_timestamp', 'ride_stop_timestamp', 'is_pool', 'is_pool_shifted', 'pool']
order_filter[cols].sort_values(['driver_id', 'ride_start_timestamp'])

,driver_id,ride_start_timestamp,ride_stop_timestamp,is_pool,is_pool_shifted,pool
64686,0001860739024029fa3da2cad0ed4de2,2016-11-10 07:12:39,2016-11-10 08:05:58,False,False,False
141,0001860739024029fa3da2cad0ed4de2,2016-11-10 08:52:17,2016-11-10 09:24:23,False,False,False
140773,0001860739024029fa3da2cad0ed4de2,2016-11-10 14:55:33,2016-11-10 15:26:43,False,False,False
1608,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:06:44,2016-11-10 18:04:55,False,True,True
13373,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:12:49,2016-11-10 18:52:51,True,True,True
33721,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:19:32,2016-11-10 17:33:10,True,False,True
115042,0001860739024029fa3da2cad0ed4de2,2016-11-10 19:18:55,2016-11-10 19:46:09,False,False,False
62517,0001860739024029fa3da2cad0ed4de2,2016-11-10 20:53:13,2016-11-10 21:15:23,False,False,False
85996,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 09:29:41,2016-11-01 09:45:47,False,False,False
35848,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:06:55,2016-11-01 20:28:25,False,False,False
19718,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:43:34,2016-11-01 21:24:56,False,True,True
8323,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:49:50,2016-11-01 21:10:00,True,True,True
156213,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:53:13,2016-11-01 21:51:06,True,False,True
155890,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:22:46,2016-11-24 18:26:02,False,True,True
82810,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:38:29,2016-11-24 18:11:48,True,False,True
155974,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:21:24,2016-11-24 19:54:48,False,True,True
153383,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:40:03,2016-11-24 20:12:23,True,False,True
159911,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:03:01,2016-11-29 08:41:58,False,False,False
193897,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:52:50,2016-11-29 09:16:05,False,False,False
158634,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:42:21,2016-11-29 09:53:50,False,False,False
209587,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:59:22,2016-11-29 10:10:14,False,False,False
167835,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:20:48,2016-11-29 10:31:02,False,True,True
27078,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:28:33,2016-11-29 10:52:49,True,True,True
65798,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:36:34,2016-11-29 11:21:04,True,True,True
189209,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:11:53,2016-11-29 11:39:35,True,False,True
125577,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:50:01,2016-11-29 12:02:57,False,False,False
38522,3d5914545a97b002450e7769d7e51df3,2016-11-29 12:33:16,2016-11-29 12:57:13,False,False,False
28400,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:03:56,2016-11-29 13:38:48,False,False,False
14687,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:47:45,2016-11-29 14:12:07,False,False,False
55550,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:15:46,2016-11-29 14:59:44,False,True,True
99717,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:20:40,2016-11-29 14:45:21,True,True,True
15397,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:36:58,2016-11-29 15:10:14,True,False,True
121433,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:25:15,2016-11-29 15:36:00,False,False,False
59165,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:56:39,2016-11-29 16:27:59,False,False,False
100662,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:22:52,2016-11-29 19:31:24,False,False,False
121661,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:44:05,2016-11-29 20:07:46,False,True,True
88233,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:50:26,2016-11-29 20:08:19,True,False,True
131154,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:15:53,2016-11-29 20:30:09,False,False,False
142674,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:46:17,2016-11-29 21:15:34,False,False,False

In [172]:
def group_pool(df):
    df = df.copy()
    pool_rides(df)
    df['is_pool_shifted'] = df.groupby('driver_id')['is_pool'].shift(-1).fillna(False)
    df['pool'] = df['is_pool'] + df['is_pool_shifted']
#     df['pool_shifted_down'] =  df.groupby('driver_id')['pool'].shift(1) 
#     df['first_pool_1'] = np.where(df['pool'] != df['pool_shifted_down'], 1, 0)
#     df['first_pool_1'].fillna(1)
    df['factor'] = -df.index
    df['factor'][df.pool] = 1
    df['shifted_stop_time_for_ride'] = df.groupby('driver_id')['ride_stop_timestamp'].shift(1)
    df['check_shift_sign_updated'] = df['ride_start_timestamp'] - df['shifted_stop_time_for_ride']
    df['check_shift_sign'] = df['ride_start_timestamp'] < df['shifted_stop_time_for_ride']
    df['check_shift_sign_new'] = np.where(df['check_shift_sign_updated'].dt.total_seconds() < 0, 0, 1)
    df['check_shift_sign_new'].fillna(1)
#     df['cum_sum_1'] = df['check_shift_sign'].cumsum()
    df['cum_sum_1'] = df.groupby('driver_id')['check_shift_sign_new'].cumsum()
    df['group_1'] = np.where(df['pool'], df['cum_sum_1'], df['factor'])
    df['group_1_shifted_down'] = df['group_1'].shift(1)
    df['equal_column'] = df['group_1'] !=  df['group_1_shifted_down']
    df['cum_sum_2'] = df['equal_column'].cumsum()
#     df.iloc[~df.pool, 'factor'] = -df.iloc[~df.pool, 'index']
#     df.iloc[df.pool, 'factor'] = df.iloc[df.pool, int(df.is_pool)]
    df = df.groupby(['cum_sum_2']).agg({'ride_start_timestamp': min, 
                                                     'ride_stop_timestamp': max, 
                                        'driver_id': 'first', 'order_id': 'first'}).reset_index() 
    df['ride_duration'] = df['ride_stop_timestamp'] - df['ride_start_timestamp']
    return df

In [173]:
df = group_pool(order_filter)

In [174]:
df

,cum_sum_2,ride_start_timestamp,ride_stop_timestamp,driver_id,order_id,ride_duration
0,1,2016-11-10 07:12:39,2016-11-10 08:05:58,0001860739024029fa3da2cad0ed4de2,5483a74a258f03d32d00397973b09f2b,00:53:19
1,2,2016-11-10 08:52:17,2016-11-10 09:24:23,0001860739024029fa3da2cad0ed4de2,00311e67173db2823aabd29cf2e3d967,00:32:06
2,3,2016-11-10 14:55:33,2016-11-10 15:26:43,0001860739024029fa3da2cad0ed4de2,b84edcdf75d9c8824c04dc33d73e176e,00:31:10
3,4,2016-11-10 17:06:44,2016-11-10 18:52:51,0001860739024029fa3da2cad0ed4de2,0227c8f24ff175c5415a6e0b3203d5cf,01:46:07
4,5,2016-11-10 19:18:55,2016-11-10 19:46:09,0001860739024029fa3da2cad0ed4de2,966cd2c5d564c5f508cafe913fcc7328,00:27:14
5,6,2016-11-10 20:53:13,2016-11-10 21:15:23,0001860739024029fa3da2cad0ed4de2,51bc5f9c8050624fd68d0c1c118a14b5,00:22:10
6,7,2016-11-01 09:29:41,2016-11-01 09:45:47,000211a97ba2b768ef941593bf1ae1a5,7a4833b8e39db563365e485f3c16feb5,00:16:06
7,8,2016-11-01 20:06:55,2016-11-01 20:28:25,000211a97ba2b768ef941593bf1ae1a5,32eb295835b821f4b01c9eb9292bd534,00:21:30
8,9,2016-11-01 20:43:34,2016-11-01 21:51:06,000211a97ba2b768ef941593bf1ae1a5,1bd834f316b12c5f76848a7382c554e9,01:07:32
9,10,2016-11-24 17:22:46,2016-11-24 18:26:02,0009cc512604d27cc3e819ab6b954fca,c30d01e0c737a20de92a8fc1a9546971,01:03:16
10,11,2016-11-24 19:21:24,2016-11-24 20:12:23,0009cc512604d27cc3e819ab6b954fca,c32a6f7d31ec32b6332540e4a2ae492b,00:50:59
11,12,2016-11-29 08:03:01,2016-11-29 08:41:58,3d5914545a97b002450e7769d7e51df3,be95e3a2ce12e38d50978df6fbbadb90,00:38:57
12,13,2016-11-29 08:52:50,2016-11-29 09:16:05,3d5914545a97b002450e7769d7e51df3,e7500d8b6c9e66b9927cb12907b54a10,00:23:15
13,14,2016-11-29 09:42:21,2016-11-29 09:53:50,3d5914545a97b002450e7769d7e51df3,bd12c9f882a4e47cecf60db07100642e,00:11:29
14,15,2016-11-29 09:59:22,2016-11-29 10:10:14,3d5914545a97b002450e7769d7e51df3,fa1fd8f4e661e421bd39ff2454f33831,00:10:52
15,16,2016-11-29 10:20:48,2016-11-29 11:39:35,3d5914545a97b002450e7769d7e51df3,c7f4fba28fc281be89edab3a7472ad5d,01:18:47
16,17,2016-11-29 11:50:01,2016-11-29 12:02:57,3d5914545a97b002450e7769d7e51df3,95d31dc2ca4b27887c63a78c48ad694c,00:12:56
17,18,2016-11-29 12:33:16,2016-11-29 12:57:13,3d5914545a97b002450e7769d7e51df3,2db6043371fe1a8022cf833a942f0d9e,00:23:57
18,19,2016-11-29 13:03:56,2016-11-29 13:38:48,3d5914545a97b002450e7769d7e51df3,21d6e5b7509e9a67a7fd3428bd5b2bd6,00:34:52
19,20,2016-11-29 13:47:45,2016-11-29 14:12:07,3d5914545a97b002450e7769d7e51df3,118b65dbf68c5f76aedf29acaeeb5767,00:24:22
20,21,2016-11-29 14:15:46,2016-11-29 15:10:14,3d5914545a97b002450e7769d7e51df3,422e8fab5009e197e1a6aba51467d667,00:54:28
21,22,2016-11-29 15:25:15,2016-11-29 15:36:00,3d5914545a97b002450e7769d7e51df3,90f6f9679a1ddf3ba3fc992accd88808,00:10:45
22,23,2016-11-29 15:56:39,2016-11-29 16:27:59,3d5914545a97b002450e7769d7e51df3,468faed9b3fb3e584beb708bdec6035f,00:31:20
23,24,2016-11-29 19:22:52,2016-11-29 19:31:24,3d5914545a97b002450e7769d7e51df3,78174293c7174477f4118dbf291d8e3b,00:08:32
24,25,2016-11-29 19:44:05,2016-11-29 20:08:19,3d5914545a97b002450e7769d7e51df3,9137b9c0bd7c586f7023168acf4b1164,00:24:14
25,26,2016-11-29 20:15:53,2016-11-29 20:30:09,3d5914545a97b002450e7769d7e51df3,9c7c62481aba8dcc63b3528bb1558a97,00:14:16
26,27,2016-11-29 20:46:17,2016-11-29 21:15:34,3d5914545a97b002450e7769d7e51df3,aa0dd6892e63a35d14b587c6eefe2099,00:29:17

In [152]:
cols = ['driver_id', 'ride_start_timestamp', 'ride_stop_timestamp', 'is_pool', 'is_pool_shifted', 'pool', 
        'factor', 'check_shift_sign', 'check_shift_sign_new', 'cum_sum_1', 'group_1', 'equal_column', 'cum_sum_2']

df[cols]

,driver_id,ride_start_timestamp,ride_stop_timestamp,is_pool,is_pool_shifted,pool,factor,check_shift_sign,check_shift_sign_new,cum_sum_1,group_1,equal_column,cum_sum_2
64686,0001860739024029fa3da2cad0ed4de2,2016-11-10 07:12:39,2016-11-10 08:05:58,False,False,False,-64686,False,1,1,-64686,True,1
141,0001860739024029fa3da2cad0ed4de2,2016-11-10 08:52:17,2016-11-10 09:24:23,False,False,False,-141,False,1,2,-141,True,2
140773,0001860739024029fa3da2cad0ed4de2,2016-11-10 14:55:33,2016-11-10 15:26:43,False,False,False,-140773,False,1,3,-140773,True,3
1608,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:06:44,2016-11-10 18:04:55,False,True,True,1,False,1,4,4,True,4
13373,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:12:49,2016-11-10 18:52:51,True,True,True,1,True,0,4,4,False,4
33721,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:19:32,2016-11-10 17:33:10,True,False,True,1,True,0,4,4,False,4
115042,0001860739024029fa3da2cad0ed4de2,2016-11-10 19:18:55,2016-11-10 19:46:09,False,False,False,-115042,False,1,5,-115042,True,5
62517,0001860739024029fa3da2cad0ed4de2,2016-11-10 20:53:13,2016-11-10 21:15:23,False,False,False,-62517,False,1,6,-62517,True,6
85996,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 09:29:41,2016-11-01 09:45:47,False,False,False,-85996,False,1,1,-85996,True,7
35848,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:06:55,2016-11-01 20:28:25,False,False,False,-35848,False,1,2,-35848,True,8
19718,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:43:34,2016-11-01 21:24:56,False,True,True,1,False,1,3,3,True,9
8323,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:49:50,2016-11-01 21:10:00,True,True,True,1,True,0,3,3,False,9
156213,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:53:13,2016-11-01 21:51:06,True,False,True,1,True,0,3,3,False,9
155890,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:22:46,2016-11-24 18:26:02,False,True,True,1,False,1,1,1,True,10
82810,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:38:29,2016-11-24 18:11:48,True,False,True,1,True,0,1,1,False,10
155974,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:21:24,2016-11-24 19:54:48,False,True,True,1,False,1,2,2,True,11
153383,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:40:03,2016-11-24 20:12:23,True,False,True,1,True,0,2,2,False,11
159911,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:03:01,2016-11-29 08:41:58,False,False,False,-159911,False,1,1,-159911,True,12
193897,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:52:50,2016-11-29 09:16:05,False,False,False,-193897,False,1,2,-193897,True,13
158634,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:42:21,2016-11-29 09:53:50,False,False,False,-158634,False,1,3,-158634,True,14
209587,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:59:22,2016-11-29 10:10:14,False,False,False,-209587,False,1,4,-209587,True,15
167835,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:20:48,2016-11-29 10:31:02,False,True,True,1,False,1,5,5,True,16
27078,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:28:33,2016-11-29 10:52:49,True,True,True,1,True,0,5,5,False,16
65798,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:36:34,2016-11-29 11:21:04,True,True,True,1,True,0,5,5,False,16
189209,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:11:53,2016-11-29 11:39:35,True,False,True,1,True,0,5,5,False,16
125577,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:50:01,2016-11-29 12:02:57,False,False,False,-125577,False,1,6,-125577,True,17
38522,3d5914545a97b002450e7769d7e51df3,2016-11-29 12:33:16,2016-11-29 12:57:13,False,False,False,-38522,False,1,7,-38522,True,18
28400,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:03:56,2016-11-29 13:38:48,False,False,False,-28400,False,1,8,-28400,True,19
14687,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:47:45,2016-11-29 14:12:07,False,False,False,-14687,False,1,9,-14687,True,20
55550,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:15:46,2016-11-29 14:59:44,False,True,True,1,False,1,10,10,True,21
99717,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:20:40,2016-11-29 14:45:21,True,True,True,1,True,0,10,10,False,21
15397,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:36:58,2016-11-29 15:10:14,True,False,True,1,True,0,10,10,False,21
121433,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:25:15,2016-11-29 15:36:00,False,False,False,-121433,False,1,11,-121433,True,22
59165,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:56:39,2016-11-29 16:27:59,False,False,False,-59165,False,1,12,-59165,True,23
100662,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:22:52,2016-11-29 19:31:24,False,False,False,-100662,False,1,13,-100662,True,24
121661,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:44:05,2016-11-29 20:07:46,False,True,True,1,False,1,14,14,True,25
88233,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:50:26,2016-11-29 20:08:19,True,False,True,1,True,0,14,14,False,25
131154,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:15:53,2016-11-29 20:30:09,False,False,False,-131154,False,1,15,-131154,True,26
142674,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:46:17,2016-11-29 21:15:34,False,False,False,-142674,False,1,16,-142674,True,27

In [49]:
order_filter['pool_int'] = order_filter['pool'].astype('int')
order_filter['cSum'] = order_filter.groupby(['driver_id', (order_filter.pool).cumsum()]).pool_int.cumsum()

In [53]:
order_filter['cSum2'] =  order_filter['cSum'].cumsum()
order_filter['cSum2'] = order_filter.groupby(['driver_id', (order_filter.pool).cumsum()]).cSum.cumsum()

In [55]:
cols = ['driver_id', 'ride_start_timestamp', 'ride_stop_timestamp', 'is_pool', 'is_pool_shifted', 'pool', 'cSum', 'cSum2']
order_filter[cols].sort_values(['driver_id', 'ride_start_timestamp'])

,driver_id,ride_start_timestamp,ride_stop_timestamp,is_pool,is_pool_shifted,pool,cSum,cSum2
64686,0001860739024029fa3da2cad0ed4de2,2016-11-10 07:12:39,2016-11-10 08:05:58,False,False,False,0,0
141,0001860739024029fa3da2cad0ed4de2,2016-11-10 08:52:17,2016-11-10 09:24:23,False,False,False,0,0
140773,0001860739024029fa3da2cad0ed4de2,2016-11-10 14:55:33,2016-11-10 15:26:43,False,False,False,0,0
1608,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:06:44,2016-11-10 18:04:55,False,True,True,1,1
13373,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:12:49,2016-11-10 18:52:51,True,True,True,1,1
33721,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:19:32,2016-11-10 17:33:10,True,False,True,1,1
115042,0001860739024029fa3da2cad0ed4de2,2016-11-10 19:18:55,2016-11-10 19:46:09,False,False,False,1,2
62517,0001860739024029fa3da2cad0ed4de2,2016-11-10 20:53:13,2016-11-10 21:15:23,False,False,False,1,3
85996,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 09:29:41,2016-11-01 09:45:47,False,False,False,0,0
35848,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:06:55,2016-11-01 20:28:25,False,False,False,0,0
19718,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:43:34,2016-11-01 21:24:56,False,True,True,1,1
8323,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:49:50,2016-11-01 21:10:00,True,True,True,1,1
156213,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:53:13,2016-11-01 21:51:06,True,False,True,1,1
155890,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:22:46,2016-11-24 18:26:02,False,True,True,1,1
82810,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:38:29,2016-11-24 18:11:48,True,False,True,1,1
155974,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:21:24,2016-11-24 19:54:48,False,True,True,1,1
153383,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:40:03,2016-11-24 20:12:23,True,False,True,1,1
159911,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:03:01,2016-11-29 08:41:58,False,False,False,0,0
193897,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:52:50,2016-11-29 09:16:05,False,False,False,0,0
158634,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:42:21,2016-11-29 09:53:50,False,False,False,0,0
209587,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:59:22,2016-11-29 10:10:14,False,False,False,0,0
167835,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:20:48,2016-11-29 10:31:02,False,True,True,1,1
27078,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:28:33,2016-11-29 10:52:49,True,True,True,1,1
65798,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:36:34,2016-11-29 11:21:04,True,True,True,1,1
189209,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:11:53,2016-11-29 11:39:35,True,False,True,1,1
125577,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:50:01,2016-11-29 12:02:57,False,False,False,1,2
38522,3d5914545a97b002450e7769d7e51df3,2016-11-29 12:33:16,2016-11-29 12:57:13,False,False,False,1,3
28400,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:03:56,2016-11-29 13:38:48,False,False,False,1,4
14687,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:47:45,2016-11-29 14:12:07,False,False,False,1,5
55550,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:15:46,2016-11-29 14:59:44,False,True,True,1,1
99717,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:20:40,2016-11-29 14:45:21,True,True,True,1,1
15397,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:36:58,2016-11-29 15:10:14,True,False,True,1,1
121433,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:25:15,2016-11-29 15:36:00,False,False,False,1,2
59165,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:56:39,2016-11-29 16:27:59,False,False,False,1,3
100662,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:22:52,2016-11-29 19:31:24,False,False,False,1,4
121661,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:44:05,2016-11-29 20:07:46,False,True,True,1,1
88233,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:50:26,2016-11-29 20:08:19,True,False,True,1,1
131154,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:15:53,2016-11-29 20:30:09,False,False,False,1,2
142674,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:46:17,2016-11-29 21:15:34,False,False,False,1,3

In [65]:
def get_val(df):
    val = []
    ctr = 0
    for idx, row in df.iterrows():
        if row['is_pool'] == False and row['is_pool_shifted'] == False:
            ctr += 1
            val += [ctr]
        elif row['is_pool'] == False and row['is_pool_shifted'] == True:
            ctr += 1
            val += [ctr]
        elif row['is_pool'] == True:
            val += [ctr]
    df['Ctr'] = val
    return df

In [66]:
order_new = order_filter.groupby('driver_id').apply(get_val)

In [67]:
cols = ['driver_id', 'ride_start_timestamp', 'ride_stop_timestamp', 'is_pool', 'is_pool_shifted', 'pool', 'Ctr']
order_new[cols].sort_values(['driver_id', 'ride_start_timestamp'])

,driver_id,ride_start_timestamp,ride_stop_timestamp,is_pool,is_pool_shifted,pool,Ctr
64686,0001860739024029fa3da2cad0ed4de2,2016-11-10 07:12:39,2016-11-10 08:05:58,False,False,False,1
141,0001860739024029fa3da2cad0ed4de2,2016-11-10 08:52:17,2016-11-10 09:24:23,False,False,False,2
140773,0001860739024029fa3da2cad0ed4de2,2016-11-10 14:55:33,2016-11-10 15:26:43,False,False,False,3
1608,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:06:44,2016-11-10 18:04:55,False,True,True,4
13373,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:12:49,2016-11-10 18:52:51,True,True,True,4
33721,0001860739024029fa3da2cad0ed4de2,2016-11-10 17:19:32,2016-11-10 17:33:10,True,False,True,4
115042,0001860739024029fa3da2cad0ed4de2,2016-11-10 19:18:55,2016-11-10 19:46:09,False,False,False,5
62517,0001860739024029fa3da2cad0ed4de2,2016-11-10 20:53:13,2016-11-10 21:15:23,False,False,False,6
85996,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 09:29:41,2016-11-01 09:45:47,False,False,False,1
35848,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:06:55,2016-11-01 20:28:25,False,False,False,2
19718,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:43:34,2016-11-01 21:24:56,False,True,True,3
8323,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:49:50,2016-11-01 21:10:00,True,True,True,3
156213,000211a97ba2b768ef941593bf1ae1a5,2016-11-01 20:53:13,2016-11-01 21:51:06,True,False,True,3
155890,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:22:46,2016-11-24 18:26:02,False,True,True,1
82810,0009cc512604d27cc3e819ab6b954fca,2016-11-24 17:38:29,2016-11-24 18:11:48,True,False,True,1
155974,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:21:24,2016-11-24 19:54:48,False,True,True,2
153383,0009cc512604d27cc3e819ab6b954fca,2016-11-24 19:40:03,2016-11-24 20:12:23,True,False,True,2
159911,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:03:01,2016-11-29 08:41:58,False,False,False,1
193897,3d5914545a97b002450e7769d7e51df3,2016-11-29 08:52:50,2016-11-29 09:16:05,False,False,False,2
158634,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:42:21,2016-11-29 09:53:50,False,False,False,3
209587,3d5914545a97b002450e7769d7e51df3,2016-11-29 09:59:22,2016-11-29 10:10:14,False,False,False,4
167835,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:20:48,2016-11-29 10:31:02,False,True,True,5
27078,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:28:33,2016-11-29 10:52:49,True,True,True,5
65798,3d5914545a97b002450e7769d7e51df3,2016-11-29 10:36:34,2016-11-29 11:21:04,True,True,True,5
189209,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:11:53,2016-11-29 11:39:35,True,False,True,5
125577,3d5914545a97b002450e7769d7e51df3,2016-11-29 11:50:01,2016-11-29 12:02:57,False,False,False,6
38522,3d5914545a97b002450e7769d7e51df3,2016-11-29 12:33:16,2016-11-29 12:57:13,False,False,False,7
28400,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:03:56,2016-11-29 13:38:48,False,False,False,8
14687,3d5914545a97b002450e7769d7e51df3,2016-11-29 13:47:45,2016-11-29 14:12:07,False,False,False,9
55550,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:15:46,2016-11-29 14:59:44,False,True,True,10
99717,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:20:40,2016-11-29 14:45:21,True,True,True,10
15397,3d5914545a97b002450e7769d7e51df3,2016-11-29 14:36:58,2016-11-29 15:10:14,True,False,True,10
121433,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:25:15,2016-11-29 15:36:00,False,False,False,11
59165,3d5914545a97b002450e7769d7e51df3,2016-11-29 15:56:39,2016-11-29 16:27:59,False,False,False,12
100662,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:22:52,2016-11-29 19:31:24,False,False,False,13
121661,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:44:05,2016-11-29 20:07:46,False,True,True,14
88233,3d5914545a97b002450e7769d7e51df3,2016-11-29 19:50:26,2016-11-29 20:08:19,True,False,True,14
131154,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:15:53,2016-11-29 20:30:09,False,False,False,15
142674,3d5914545a97b002450e7769d7e51df3,2016-11-29 20:46:17,2016-11-29 21:15:34,False,False,False,16